{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <div>
        <div style="background-image: linear-gradient(to bottom, rgba(55,49,53,0.75), rgba(55,49,53,0.4)), url({{ asset('/build/images/book-bg.jpg') }}); height: 90vh;">
    {% if app.user %}
        <h2>Hi {{ app.user.name }}</h2>
    {% else %}
        <h2 class="py-5 text-center text-white fst-italic">Welcome to MyBooks</h2>
        <div class="d-flex justify-content-evenly w-75 mx-auto">
            <div class="card text-bg-dark" style="width: 250px; ">
                <p class="p-4" style="height: 150px;"><span class="text-center">You are new on MyBooks? Join to our community.</span></p>
                <a href="#" class="card-footer text-decoration-none bg-light text-dark">Sign up</a>
            </div>
            <div class="card text-bg-dark"  style="width: 250px;">
                <p class="p-4" style="height: 150px;"><span class="text-center">Already have account? Click here to login.</span></p>
                <a href="#" class="card-footer text-decoration-none bg-light text-dark">Sign in</a>
            </div>
        </div>

    {% endif %}
        </div>

    {# TODO -da izbacuje neke random ponude #}

    </div>

{% endblock %}